@keyframes moveText {
  0% {
    transform: translateX(90vw);
  }
  100% {
    transform: translateX(-180vw);
  }
}

.moving-text {
    animation: moveText 10s ease-in-out infinite alternate; /* Adjust the duration as needed */
  }